@charset "utf-8";

body {
	margin: 1rem auto;
	text-align: center;
}

.pyramid div {
	display: flex;
	justify-content: center;
}

.pyramid div:nth-child(odd) {
	gap: 1rem;
}

.pyramid div:nth-child(even) {
	gap: 3rem;
}

.pyramid input[type="number"] {
	width: 128px;
	border: 1px solid gray;
	font-size: 2rem;
	text-align: center;
}

.pyramid input[type="number"]:disabled {
	background-color: #fff;
	color: #000;
}

.pyramid input[type=number]:enabled {
	background-color: #000;
	color: #fff;
}

.pyramid img:nth-child(odd) {
	transform: rotate(30deg);
}

.pyramid img:nth-child(even) {
	transform: rotate(-30deg);
}

.buttons {
	margin: 1rem 0;
}

.buttons input[type="button"] {
	padding: .75rem 1.25rem;
	border: 1px solid hsl(200, 100%, 60%);
	background-color: hsl(200, 100%, 80%);
	font-weight: bold;
	cursor: pointer;
}

.settings {
	margin: 1rem 0;
}
